<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default site.Language.Lang }}" dir="{{ site.Language.LanguageDirection | default "ltr" }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ block "title" . }}{{- $pageTitle := .Title -}}
  {{- if gt (len ($pageTitle | htmlEscape)) 70 -}}
    {{- errorf "%s title '%'s > 70 characters" .TranslationKey $pageTitle -}}
  {{- end -}}
  {{- $pageTitle = .Title -}}
{{- $pageTitle -}}{{ end }}</title>
{{ hugo.Generator }}
<style>
   .sl2 {
      background-color: azure;
   }
   .sl3 {
      background-color: beige;
   }
   .sl4 {
      background-color: gainsboro;
   }
</style>
</head>

<body>
<div>
<header>
{{- $headerTitleElement := "div" -}}
{{- if .IsHome -}}
{{- $headerTitleElement = "h1" -}}
{{- end -}}
{{- (printf "<%s>" $headerTitleElement | safeHTML) -}}
<a href="{{ "/" | relLangURL }}" title="Home" class="header__site-link" rel="home"><span>{{ site.Title }}</span></a>
{{- (printf "</%s>" $headerTitleElement | safeHTML) -}}
</header>

{{ block "main" . }}{{ end }}
</div>
</body>
</html>
