{{ define "title" }}
{{- $pageTitle := .Title -}}
{{- if gt (len ($pageTitle | htmlEscape)) 70 -}}
  {{- errorf "%s title '%'s > 70 characters" .TranslationKey $pageTitle -}}
{{- end -}}
{{- $pageTitle = .Title -}}
{{- if .IsHome }}{{ site.Title }}{{ else }}{{ $pageTitle }}{{ end }}
{{- end -}}

{{ define "main" -}}
<main>
{{ if not .IsHome -}}
  <h1>{{ .Title }}</h1>
{{- end }}

{{ with .Content }}
{{ . | safeHTML }}
{{ end -}}

<ul>
   {{- range .Pages }}
<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{- end -}}
</ul>
</main>
{{ end }}
