{{- $ctx := . -}}
{{- $inPage := .Page -}}
{{- $inLevel := .level | default 1 -}}

{{- range $inPage.Pages.Reverse -}}
<div class="{{ printf "sl%d" (add $inLevel 1) }}">
{{ printf "<h%d>" (add $inLevel 1) | safeHTML -}}
   <a href="{{ .RelPermalink }}">{{ .Title }}</a>
{{- printf "</h%d>" (add $inLevel 1) | safeHTML -}}
   {{- with .Content }}
{{ . }}
   {{- else }}
{{ end }}
   {{- partial "walk.html" (dict
      "Page" .Page
      "level" (add $inLevel 1)
   ) -}}
</div>
{{ end -}}
