{{ define "main" -}}
<main>
{{ if not .IsHome -}}
   <h1>{{ .Title }}</h1>
{{- end -}}

{{ with .Content }}
{{ . | safeHTML }}
{{ end -}}

{{- partial "walk.html" (dict
   "Page" .Page
) -}}
</main>
{{ end -}}